---
import BaseLayout from '../layouts/BaseLayout.astro';
import projects from '../content/projects.json';
---
<BaseLayout pageTitle="Projects" pageDescription="Our recent projects">
  <h1>Projects</h1>
  <ul>
    {projects.map(project => (
      <li><a href={`/projects/${project.slug}/`}>{project.title}</a> - {project.description}</li>
    ))}
  </ul>
</BaseLayout>
